body {
    --primary1: #242324;
    --primary2: #363537;
    --primary3: #59585A;
    --secondary1: #DCEDFF;
    --secondary2: #94B0DA;



    margin: 0;

    background: var(--primary2);
    color: var(--secondary1);
    font-size: 20px;

    font-family: 'Munro';
    cursor: url('icons/cursor.png'), auto;
}

button:hover {
    cursor: url("icons/grab.png");
}

.draggable {
    z-index: 100;
}

.colorpick-eyedropper-input-trigger {
    visibility: hidden;
    position: absolute;
}

#darkBackground {
    position: absolute;
    z-index: -10;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--primary1);
    border-radius: 50px;

    margin-top: 25px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#savedCanvas {
    z-index: -100;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid black;

    z-index: 5;

    transform: translate(-50%, -50%);
    text-align: center;
}

#selection {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid black;

    z-index: -10;

    transform: translate(-50%, -50%);
    text-align: center;
}

.selectionActive {
    z-index: 4 !important;
}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#canvasBackground {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-image: url('icons/background.png');

    z-index: -5;
}

#tools {
    position: absolute;
    left: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    padding: 7.5px;
    border-radius: 10px;

    border-top: 50px solid var(--primary2);
    background-color: var(--primary1);
    box-shadow: 0 0 20px 1px black;
    cursor: url('icons/grab.png'), auto;
}

#tools button {
    background: var(--primary1);
    border: 4px solid #7f7f7f;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    height: 90px;
    width: 90px;
}

#tools button:hover {
    cursor: url('icons/grab.png'), auto;
    filter: brightness(1.6);
}

.selectedTool {
    filter: brightness(2) !important;
}

#tools img {
    height: 40px;
}

#options button {
    font-size: 20px;
    font-family: 'Munro';
    color: var(--secondary1);
    background-color: var(--primary2);
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

button:hover {
    filter: brightness(1.05);
}

#colorInput {
    height: 100px;
    width: 190px;
    margin: 5px;
    background: transparent;
    cursor: url('icons/grab.png'), auto;
    border: none;
}

#colorInput::-webkit-color-swatch {
    border: 2px solid black;
    border-radius: 5px;
    padding: none;
    padding: 0;
    margin: 0;
}

#colors {
    position: absolute;
    right: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    padding: 7.5px;
    border-radius: 10px;

    border-top: 50px solid var(--primary2);
    background-color: var(--primary1);
    box-shadow: 0 0 20px 1px black;
    cursor: url('icons/grab.png'), auto;
}

.color {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: none;
    border: 2px solid black;
    border-radius: 5px;
    cursor: url('icons/grab.png'), auto;
}

.selectedColor {
    border: 2px solid white;
}

.selectedInput::-webkit-color-swatch {
    border: 2px solid white !important;
}

@font-face {
    font-family: 'Munro';
    src: url('fonts/munro-small.ttf');
}